body, button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, p, ul, ol, figure {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-weight: 700;
}

footer p, footer a {
  color: #fff;
}

/* BASE CSS */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 640px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 17px;
  }
}

body {
  margin: 0 auto;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  flex-grow: 1;
}
@media screen and (min-width: 640px) {
  main {
    grid-template-columns: 50% 50%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1224px) {
  main {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (min-width: 2000px) {
  main {
    grid-template-columns: 15% 70% 15%;
  }
}

h2 {
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

ul, ol {
  list-style-type: none;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

header, footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
}

section {
  padding-bottom: 3rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

button {
  border: none;
  cursor: pointer;
}

/* Buttons with linear gradient animated on hover */
.btn-gradient {
  display: block;
  width: fit-content;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5rem;
  margin: 0 auto;
  box-shadow: 0px 5px 8px #cccccc;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  font-weight: 500;
  opacity: 1;
}
.btn-gradient:hover {
  transition-duration: 0.4s;
  box-shadow: 0px 5px 8px #999999;
  opacity: 0.8;
}

/* Icons "Like" */
.icons-like {
  position: absolute;
  z-index: 50;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.icons-like:hover .icon-like--full {
  transform: scale(1);
}

.icon-like {
  position: absolute;
  z-index: 50;
  bottom: 0.3rem;
  right: 0.3rem;
}
.icon-like--full {
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transform-origin: bottom;
  transition: 0.4s;
}

/* HEADER */
header {
  display: grid;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 3px #cccccc;
  position: relative;
  z-index: 20;
}
@media screen and (min-width: 1224px) {
  header {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (min-width: 2000px) {
  header {
    grid-template-columns: 15% 70% 15%;
  }
}
@media screen and (min-width: 2000px) {
  header picture {
    grid-column: 2;
  }
}
header img {
  width: 45%;
  max-width: 180px;
}
header a {
  position: absolute;
  z-index: 30;
  left: 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 640px) {
  header a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1224px) {
  header a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 2000px) {
  header a {
    grid-column: 2;
    font-size: 1.4rem;
  }
}
header a:hover {
  color: #9356DC;
}

/* FOOTER */
footer {
  background: #404040;
}
@media screen and (min-width: 640px) {
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 2000px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
footer p {
  font-family: "Shrikhand", cursive;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
footer a:hover {
  color: #FF79DA;
}
@media screen and (min-width: 640px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 2000px) {
  footer ul {
    justify-content: center;
  }
}
footer li {
  padding-bottom: 0.4rem;
}
@media screen and (min-width: 2000px) {
  footer li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
footer li:nth-child(1), footer li:nth-child(2) {
  font-weight: 500;
}
footer li:nth-child(2) span {
  font-size: 0.7rem;
}
footer span {
  margin-right: 1rem;
}
@media screen and (min-width: 640px) {
  footer span {
    margin-right: 0.4rem;
  }
}

/* HEADER */
header {
  box-shadow: initial;
}
@media screen and (min-width: 1224px) {
  header {
    /* Media queries Desktop 
    for <header> */
    box-shadow: 0px 2px 3px #d7c0f2;
  }
}
@media screen and (min-width: 2000px) {
  header {
    /* Media queries Large screens desktops 
    for <header> */
    box-shadow: initial;
  }
}

/* MAIN */
main {
  background: #eaeaea;
}
@media screen and (min-width: 640px) {
  main {
    /* Media queries Tabloids 
    for <main> */
    background: #fff;
  }
}
@media screen and (min-width: 1224px) {
  main {
    /* Media queries Desktop 
    for <main> */
    grid-template-rows: 75px auto;
  }
}
@media screen and (min-width: 2000px) {
  main {
    /* Media queries Large screens desktops 
    for <main> */
    grid-template-rows: auto auto;
  }
}
main picture {
  /* <picture> - picture illustration of page 
  in <main> */
}
@media screen and (min-width: 640px) {
  main picture {
    /* Media queries Tabloids 
    for <main> --> <picture> */
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 1224px) {
  main picture {
    /* Media queries Desktop 
    for <main> --> <picture> */
    grid-column: 1;
    grid-row: 2;
    position: relative;
    z-index: 30;
  }
}
@media screen and (min-width: 2000px) {
  main picture {
    /* Media queries Large screens desktops 
    for <main> --> <picture> */
    grid-column: 2;
    grid-row: 1;
    position: relative;
    z-index: 10;
  }
}
main img {
  /* <img> - image 
  in <main> + <picture> */
  height: 270px;
  object-position: bottom;
}
@media screen and (min-width: 640px) {
  main img {
    /* Media queries Tabloids 
    for <main> + <picture> --> <img> */
    height: 350px;
    object-position: center;
  }
}
@media screen and (min-width: 1224px) {
  main img {
    /* Media queries Desktop 
    for <main> + <picture> --> <img> */
    height: 683px;
    object-position: center;
    border-radius: 0rem 0rem 1.5rem 0rem;
    box-shadow: 0px 5px 8px #b3b3b3;
  }
}
@media screen and (min-width: 2000px) {
  main img {
    /* Media queries Large screens desktops 
    for <main> + <picture> --> <img> */
    height: 560px;
    border-radius: initial;
    box-shadow: initial;
  }
}

/* SECTION MENU RESTAURANTS */
.menu-restaurant {
  /* <section> - section menu for restaurants */
  background: #eaeaea;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  border-radius: 2rem 2rem 0rem 0rem;
  margin-top: -3rem;
}
@media screen and (min-width: 640px) {
  .menu-restaurant {
    /* Media queries Tabloids 
    for <section menu restaurants> */
    grid-column: 1/span 2;
    margin-top: -5rem;
    background: #fff;
  }
}
@media screen and (min-width: 1224px) {
  .menu-restaurant {
    /* Media queries Desktop 
    for <section menu restaurants> */
    grid-row: 1/span 2;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant {
    /* Media queries Large screens desktops 
    for <section menu restaurants> */
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 100%;
    margin-top: -5rem;
  }
}
.menu-restaurant h1 {
  /* <h1> - title section 
  in <section menu restaurants> */
  position: relative;
  z-index: 10;
  font-family: "shrikhand", sans-serif;
  font-weight: initial;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 640px) {
  .menu-restaurant h1 {
    /* Media queries Tabloids 
    for <section menu restaurants> --> <h1> */
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1224px) {
  .menu-restaurant h1 {
    /* Media queries Desktop 
    for <section menu restaurants> --> <h1> */
    background: linear-gradient(to top, #ffeefa, #d1b7f0);
    padding-top: 1.5rem;
    height: 75px;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant h1 {
    /* Media queries Large screens desktops 
    for <section menu restaurants> --> <h1> */
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    margin-bottom: 6rem;
  }
}
.menu-restaurant h1 .icons-like {
  /* <div> - container for icons "Like" 
  in <section menu-restaurants> + <h1> */
  top: 0rem;
  left: 92%;
}
@media screen and (min-width: 640px) {
  .menu-restaurant h1 .icons-like {
    /* Media queries Tabloids 
    for <section menu restaurants> --> <div icons like> */
    right: initial;
    left: 0rem;
  }
}
@media screen and (min-width: 1224px) {
  .menu-restaurant h1 .icons-like {
    /* Media queries Desktop 
    for <section menu restaurants> --> <div icons like> */
    top: 1.6rem;
    left: 0.8rem;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant h1 .icons-like {
    /* Media queries Large screens desktops 
    for <section menu restaurants> --> <div icons like> */
    top: 2rem;
    left: 1.5rem;
  }
}
.menu-restaurant h1 .icon-like {
  /* <span> - icon "Like" 
  in <section menu-restaurants> + <h1> + <div icons like> */
  font-size: 1.4rem;
  line-height: 1.5rem;
  bottom: 0.3rem;
  right: 0.3rem;
}
@media screen and (min-width: 1224px) {
  .menu-restaurant h1 .icon-like {
    /* Media queries Desktop 
    for <section menu restaurants> + <div icons like> --> <span icon like> */
    font-size: 1.4rem;
  }
}
.menu-restaurant .menu-restaurant-flexbox {
  /* <div> - container flexbox for articles 
  in <section menu restaurants> */
}
@media screen and (min-width: 640px) {
  .menu-restaurant .menu-restaurant-flexbox {
    /* Media queries Tabloids 
    for <section menu restaurants> --> <div flexbox> */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1224px) {
  .menu-restaurant .menu-restaurant-flexbox {
    /* Media queries Desktop 
    for <section menu restaurants> --> <div flexbox> */
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant .menu-restaurant-flexbox {
    /* Media queries Large screens desktops 
    for <section menu restaurants> --> <div flexbox> */
    flex-direction: column;
  }
}
.menu-restaurant .menu-restaurant__btn-order {
  /* <div> - container for button order 
  in <section menu restaurants> + <div flexbox> */
}
@media screen and (min-width: 640px) {
  .menu-restaurant .menu-restaurant__btn-order {
    /* Media queries Tabloids for <section menu restaurants> + <div flexbox> --> <div for button> */
    width: 49%;
  }
}
.menu-restaurant .btn-gradient {
  /* <button> - button with background linear-gradient for order 
  in <section menu restaurants> + <div flexbox> + <div for button> */
  padding: 0.8rem 3rem;
  margin-top: 3rem;
}
@media screen and (min-width: 640px) {
  .menu-restaurant .btn-gradient {
    /* Media queries Tabloids 
    for <section menu restaurants> + <div flexbox> + <div for button> --> <button gradient> */
    margin-top: 0rem;
  }
}

.menu-restaurant__dish-type {
  /* <article> - container for types of dishes 
  in <section menu restaurants> + <div flexbox> */
  margin-bottom: 2rem;
}
@media screen and (min-width: 640px) {
  .menu-restaurant__dish-type {
    /* Media queries Tabloids 
    for <section menu restaurants> + <div flexbox> --> <article type dish> */
    width: 49%;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant__dish-type {
    /* Media queries Large screens desktops 
    for <section menu restaurants> + <div flexbox> --> <article type dish> */
    width: 100%;
    padding-left: 8%;
    position: relative;
    margin-bottom: 5rem;
  }
}
.menu-restaurant__dish-type h2 {
  /* <h2> - title of article 
  in <section menu restaurants> + <div flexbox> + <article type dish> */
  width: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid #99E2D0;
}
@media screen and (min-width: 1224px) {
  .menu-restaurant__dish-type h2 {
    /* Media queries Desktop 
    for <section menu restaurants> + <div flexbox> + <article type dish> --> <h2> */
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant__dish-type h2 {
    /* Media queries Large screens desktops 
    for <section menu restaurants> + <div flexbox> + <article type dish> --> <h2> */
    transform: rotate(270deg);
    font-size: 2.5rem;
    width: 277px;
    padding-bottom: 1rem;
    position: absolute;
    left: -5.5rem;
    bottom: 75px;
    text-align: center;
    background: #e8f9f5;
    border-bottom: initial;
    border-left: 4px solid #99E2D0;
    border-radius: 0rem 1rem 1rem 0rem;
  }
}
.menu-restaurant__dish-type a {
  /* <a> - link dish 
  in <section menu restaurants> + <div flexbox> + <article type dish> */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 8px #d6d6d6;
}
@media screen and (min-width: 640px) {
  .menu-restaurant__dish-type a {
    /* Media queries Tabloids 
    for <section menu restaurants> + <div flexbox> + <article type dish> --> <a dish> */
    box-shadow: 0px 5px 8px #e6e6e6;
  }
}
@media screen and (min-width: 1224px) {
  .menu-restaurant__dish-type a {
    /* Media queries Desktop 
    for <section menu restaurants> + <div flexbox> + <article type dish> --> <a dish> */
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 2000px) {
  .menu-restaurant__dish-type a {
    /* Media queries Large screens desktops 
    for <section menu restaurants> + <div flexbox> + <article type dish> --> <a dish> */
    margin-bottom: 1rem;
  }
}
.menu-restaurant__dish-type a .dish__icon {
  /* <div> - container for icon selection dish 
  in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> */
  background: #99E2D0;
  padding: 1.5rem 0rem;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 0px;
  transition: 0.6s ease-in-out;
}
.menu-restaurant__dish-type a .icon__checked {
  transition: transform 0.6s ease-in-out;
  transform: rotate(0turn);
}
.menu-restaurant__dish-type a:hover {
  box-shadow: 0px 5px 8px #bfbfbf;
}
@media screen and (min-width: 640px) {
  .menu-restaurant__dish-type a:hover {
    /* Media queries Tabloids
    for <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> --> <div icon dish> */
    box-shadow: 0px 5px 8px #d9d9d9;
  }
}
.menu-restaurant__dish-type a:hover .dish__icon {
  width: 80px;
}
.menu-restaurant__dish-type a:hover .icon__checked {
  /* <span> - icon checked
  in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div icon dish> */
  transform: rotate(2turn);
}

.dish__dish-description {
  /* <div> - text description of dish 
  in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> */
  width: 100%;
  padding: 0rem 1rem 0rem 0.5rem;
}
.dish__dish-description h3 {
  /* <h3> - title of dish description 
  in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div dish description> */
  font-size: 1.1rem;
  height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__dish-description .dish-description__price {
  /* <div> - container for text description + price of dish 
  in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div dish description> */
  display: flex;
  justify-content: space-between;
  height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__dish-description .dish-description__price p:nth-child(2) {
  /* <p> - text of price 
  in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div dish description> + <div price> */
  font-weight: 700;
}

/*# sourceMappingURL=menu.css.map */
