@charset "UTF-8";
body, button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, p, ul, ol, figure {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-weight: 700;
}

footer p, footer a {
  color: #fff;
}

/* BASE CSS */
* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 19px;
  }
}

body {
  margin: 0 auto;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  flex-grow: 1;
}
@media screen and (min-width: 640px) {
  main {
    grid-template-columns: 50% 50%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1224px) {
  main {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (min-width: 2000px) {
  main {
    grid-template-columns: 15% 70% 15%;
  }
}

h2 {
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

ul, ol {
  list-style-type: none;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

header, footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
}

section {
  padding-bottom: 3rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

button {
  border: none;
  cursor: pointer;
}

/* Buttons with linear gradient animated on hover */
.btn-gradient {
  display: block;
  width: fit-content;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5rem;
  margin: 0 auto;
  box-shadow: 0px 5px 8px #cccccc;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  font-weight: 500;
  opacity: 1;
  transition: opacity 300ms ease-in-out, box-shadow 400ms ease-in-out;
  transition-delay: 0, 200ms;
}
.btn-gradient:hover {
  box-shadow: 0px 5px 8px #999999;
  opacity: 0.85;
}

/* Icons "Like" */
.icons-like {
  position: absolute;
  z-index: 50;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.icons-like:hover .icon-like--full {
  transform: scale(1);
}

.icon-like {
  position: absolute;
  z-index: 50;
  bottom: 0.3rem;
  right: 0.3rem;
}
.icon-like--full {
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 400ms cubic-bezier(0.32, -0.01, 0.22, 0.82);
}

/* HEADER */
header {
  display: grid;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 3px #cccccc;
  position: relative;
  z-index: 20;
}
@media screen and (min-width: 1224px) {
  header {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (min-width: 2000px) {
  header {
    grid-template-columns: 15% 70% 15%;
    box-shadow: initial;
  }
}
@media screen and (min-width: 2000px) {
  header picture {
    grid-column: 2;
  }
}
header img {
  width: 45%;
  max-width: 180px;
}
header a {
  position: absolute;
  z-index: 30;
  left: 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 640px) {
  header a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1224px) {
  header a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 2000px) {
  header a {
    grid-column: 2;
    font-size: 1.4rem;
  }
}
header a:hover {
  color: #9356DC;
}

/* FOOTER */
footer {
  background: #404040;
}
@media screen and (min-width: 640px) {
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 2000px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
footer p {
  font-family: "Shrikhand", cursive;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
footer a:hover {
  color: #FF79DA;
}
@media screen and (min-width: 640px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 2000px) {
  footer ul {
    justify-content: center;
  }
}
footer li {
  padding-bottom: 0.4rem;
}
@media screen and (min-width: 2000px) {
  footer li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
footer li:nth-child(1), footer li:nth-child(2) {
  font-weight: 500;
}
footer li:nth-child(2) span {
  font-size: 0.7rem;
}
footer span {
  margin-right: 1rem;
}
@media screen and (min-width: 640px) {
  footer span {
    margin-right: 0.4rem;
  }
}

.loading-spinner {
  width: 100%;
  height: 100%;
  background: white;
  transition: opacity 300ms;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 0;
}

/* MAIN */
@media screen and (min-width: 1224px) {
  main {
    /* Media queries Desktop for <main> */
    grid-template-rows: 290px auto;
    grid-row-gap: 1.2rem;
  }
}
@media screen and (min-width: 2000px) {
  main {
    /* Media queries Large screens desktops for <main> */
    grid-template-rows: repeat(3, auto);
  }
}
@media screen and (min-width: 640px) {
  main section {
    /* Media queries Tabloids for <main> --> <section> */
    padding-bottom: 1rem;
  }
}

/* SECTION RESERVATION */
.reservation {
  /* <section reservation> */
  text-align: center;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 640px) {
  .reservation {
    /* Media queries Tabloids for <section reservation> */
    box-shadow: 0px 5px 8px #e8e8e8;
    border-radius: 0rem 0rem 1rem 1rem;
    padding-bottom: 0rem;
  }
}
@media screen and (min-width: 2000px) {
  .reservation {
    /* Media queries Large screens desktops for <section reservation> */
    grid-column: 2;
    box-shadow: 0px 5px 0px #f6f6f6;
    border-radius: 0rem;
  }
}
.reservation__localise {
  /* <form> - form for localisation search in <section reservation> */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #eaeaea;
}
.reservation__localise input {
  /* <input> - input type search in <section reservation> + <form localise> */
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  width: 150px;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}
@media screen and (min-width: 2000px) {
  .reservation__localise input {
    width: 175px;
  }
}
.reservation__localise input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
  color: #515151;
}
.reservation__localise input:focus, .reservation__localise input:active {
  outline: none;
  color: #000;
  background: #f4f4f4;
}
.reservation__localise input:not(:focus):invalid {
  background: #e4d5f6;
  border: 1px solid #9356DC;
}
.reservation label {
  /* <label> - label for icon input in <section reservation> + <form localise> */
  margin-left: 0.5rem;
  padding: 0rem 0.5rem;
  vertical-align: top;
}
@media screen and (min-width: 640px) {
  .reservation label {
    /* Media queries Tabloids for <section reservation> + <form localise> --> <label> */
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 2000px) {
  .reservation label {
    /* Media queries Large screens desktops for <section reservation> + <form localise> --> <label> */
    margin-left: 0.5rem;
  }
}
.reservation__explore {
  /* <div> - container for text and component exploration in <section reservation> */
  padding: 0.5rem 1rem 3rem 1rem;
  background: #f6f6f6;
}
@media screen and (min-width: 640px) {
  .reservation__explore {
    /* Media queries Tabloids for <section reservation> --> <div explore> */
    height: 295px;
  }
}
@media screen and (min-width: 1224px) {
  .reservation__explore {
    /* Media queries Desktop for <section reservation> --> <div explore> */
    height: auto;
  }
}
.reservation__explore p {
  /* <p> - presentation text in <section reservation> + <div explore> */
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 640px) {
  .reservation__explore p {
    /* Media queries Tabloids for <section reservation> + <div explore> --> <p> */
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1224px) {
  .reservation__explore p {
    /* Media queries Tabloids for <section reservation> + <div explore> --> <p> */
    padding-bottom: 1.5rem;
  }
}
.reservation h1 {
  /* <h1> - Title for section in <section reservation> + <div explore> */
  padding: 1.5rem 3rem 0.5rem 3rem;
  font-size: 1.4rem;
  font-weight: 700;
}

/* SECTION FUNCTIONING */
.functioning {
  /* <section functioning> */
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .functioning {
    /* Media queries Tabloids for <section functioning> */
    justify-content: space-between;
  }
}
@media screen and (min-width: 1224px) {
  .functioning {
    /* Media queries Desktops for <section functioning> */
    padding-left: 0rem;
    padding-right: 0rem;
    grid-row: 2;
  }
}
@media screen and (min-width: 2000px) {
  .functioning {
    /* Media queries Large screens desktops for <section functioning> */
    grid-column: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
  }
}
.functioning ol {
  /* <ol> - list of steps in <section functioning> */
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .functioning ol {
    /* Media queries Tabloids for <section functioning> --> <ol> */
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 2000px) {
  .functioning ol {
    /* Media queries Large screens desktops for <section functioning> --> <ol> */
    padding-bottom: 0rem;
  }
}
.functioning h2 {
  /* <h2> - title of <section functioning> */
}
@media screen and (min-width: 640px) {
  .functioning h2 {
    /* Media queries Tabloids for <section functioning> --> <h2> */
    text-align: center;
    padding-bottom: 1.9rem;
  }
}
@media screen and (min-width: 1224px) {
  .functioning h2 {
    /* Media queries Desktops for <section functioning> --> <h2> */
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

.instructions__step {
  /* <li> - step in <section functioning> + <ol> */
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 8px #e6e6e6;
  position: relative;
  z-index: 30;
}
@media screen and (min-width: 640px) {
  .instructions__step {
    /* Media queries Tabloids for <section functioning> + <ol> --> <li steps> */
    flex-direction: column;
    align-items: center;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1.5rem 2rem 0.8rem 2rem;
  }
}
@media screen and (min-width: 1224px) {
  .instructions__step {
    /* Media queries Desktop for <section functioning> + <ol> --> <li steps> */
    margin-bottom: 2rem;
    padding: 2rem 2rem 1.2rem 2rem;
  }
}
@media screen and (min-width: 2000px) {
  .instructions__step {
    /* Media queries Large screens desktops for <section functioning> + <ol> --> <li steps> */
    margin-bottom: 2.5rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}
.instructions__step:nth-child(3) {
  /* <li> - third step "déguster" in <section functioning> + <ol> */
  background: #f5edff;
}

.step__number {
  /* <span> - list numbers for steps in <section functioning> + <ol> + <li steps> */
  color: #fff;
  background: #9356DC;
  border-radius: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  z-index: 40;
  left: -11px;
}
@media screen and (min-width: 640px) {
  .step__number {
    /* Media queries Tabloids for <section functioning> + <ol> --> <li steps> */
    left: inherit;
    top: -10px;
    width: 4rem;
  }
}
@media screen and (min-width: 2000px) {
  .step__number {
    /* Media queries Large screens desktops for <section functioning> + <ol> --> <li steps> */
    top: -0.7rem;
  }
}

.step__icon {
  /* <span> - icons for steps in <section functioning> + <ol> + <li steps> */
  width: 40px;
  font-size: 1.1rem;
}
.step__icon--grey {
  color: gray;
}
.step__icon--purple {
  color: #9356DC;
}

/* SECTION RESTAURANTS */
.restaurants {
  /* <section restaurants> */
  padding-left: 1rem;
  padding-right: 1rem;
  background: #f6f6f6;
  padding-top: 2rem;
}
@media screen and (min-width: 640px) {
  .restaurants {
    /* Media queries Tabloids for <section restaurants> */
    grid-column: 1/span 2;
    background: #fff;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 1224px) {
  .restaurants {
    /* Media queries Desktop for <section restaurants> */
    grid-row: 1/span 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (min-width: 2000px) {
  .restaurants {
    /* Media queries Large screens desktops for <section restaurants> */
    grid-column: 2;
    grid-row: 3/span 3;
  }
}
.restaurants h2 {
  /* <h2> title of <section restaurants> */
}
@media screen and (min-width: 640px) {
  .restaurants h2 {
    /* Media queries Tabloids for <section restaurants> --> <h2> */
    text-align: center;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1224px) {
  .restaurants h2 {
    /* Media queries Desktop for <section restaurants> --> <h2> */
    padding-top: 0.8rem;
    padding-bottom: 2rem;
  }
}
.restaurants-flexbox {
  /* <div> - flexbox for cards in <section restaurants> */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 640px) {
  .restaurants-flexbox {
    /* Media queries Tabloids for <section restaurants> --> <div flexbox> */
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 2000px) {
  .restaurants-flexbox {
    /* Media queries Large screens desktops for <section restaurants> --> <div flexbox> */
    flex-direction: column;
  }
}
.restaurants__link-menu {
  /* <a> - card in <sections restaurants> + <div flexbox> */
  display: block;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.1rem;
  box-shadow: 0px 5px 8px #e6e6e6;
  position: relative;
  z-index: 40;
  transition: box-shadow 400ms ease-in-out;
}
@media screen and (min-width: 640px) {
  .restaurants__link-menu {
    /* Media queries Tabloids for <section restaurants> + <div flexbox> --> <a links cards> */
    width: 48%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1224px) {
  .restaurants__link-menu {
    /* Media queries Desktop for <section restaurants> + <div flexbox> --> <a links cards> */
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 2000px) {
  .restaurants__link-menu {
    /* Media queries Large screens desktops for <section restaurants> + <div flexbox> --> <a links cards> */
    width: 100%;
  }
}
.restaurants__link-menu figcaption {
  color: #000;
  transition: color 300ms ease-in-out;
}
.restaurants__link-menu:hover {
  box-shadow: 0px 5px 8px #cccccc;
}
.restaurants__link-menu:hover figcaption {
  color: #9356DC;
}

.card__img img {
  /* <img> - image in <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> */
  height: 180px;
}
@media screen and (min-width: 640px) {
  .card__img img {
    /* Media queries Tabloids for <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> --> <img> */
    height: 220px;
  }
}
@media screen and (min-width: 1224px) {
  .card__img img {
    /* Media queries Desktop for <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> --> <img> */
    height: 246px;
  }
}
@media screen and (min-width: 2000px) {
  .card__img img {
    /* Media queries Large screens desktops for <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> --> <img> */
    height: 350px;
  }
}

.card__caption {
  /* <figcaption> - caption in <section restaurants> + <div flexbox> + <a links cards> + <figure> */
  padding: 0.6rem 0.8rem 0.8rem 0.8rem;
  line-height: 1.5rem;
  background: #fff;
}
@media screen and (min-width: 2000px) {
  .card__caption {
    /* Media queries Large screens desktops for <section restaurants> + <div flexbox> + <a links cards> + <figure> --> <figcaption> */
    text-align: center;
    padding: 0.6rem 0rem 2rem 0rem;
  }
}

.link-menu__sticker-new {
  /* <span> - sticker "New" in <section restaurants> + <div flexbox> + <a links cards> */
  position: absolute;
  z-index: 40;
  top: 1rem;
  right: 1rem;
  background: #99E2D0;
  font-size: 0.8rem;
  font-weight: 500;
  color: #278870;
  width: 5rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 0.1rem;
}

.icons-like {
  /* <div> - container for icons "Like" in <section restaurants> + <div flexbox> + <a links cards> */
  bottom: 1.7rem;
  right: 1.2rem;
}
.icons-like:hover .icon-like--full {
  transform: scale(1);
}
@media screen and (min-width: 2000px) {
  .icons-like {
    /* Media queries Large screens desktops for <section restaurants> + <div flexbox> + <a links cards> --> <div likes> */
    bottom: 0.2rem;
    right: 50%;
    margin-right: -1rem;
  }
}

.icon-like {
  /* <span> - icons "Like" in <section restaurants> + <div flexbox> + <a links cards> + <div likes> */
  font-size: 1.4rem;
}
@media screen and (min-width: 2000px) {
  .icon-like {
    font-size: 1.6rem;
    bottom: 0.2rem;
    right: 0.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
