/* COMPONENTS */

/* Buttons with linear gradient animated on hover */

.btn-gradient {
    display:block;
    width:fit-content;
    padding:0.8rem 1.5rem;
    border-radius:5rem;
    @include center-margin;
    background:linear-gradient(to top left, map-get($colors-palette,purple), map-get($colors-palette, pink));
    color:map-get($colors-palette, white );
    font-weight:map-get($txt-weight, txt-med);
    @include shadow-box;
    opacity: 1;
    &:hover {
        transition-duration:0.4s;
        @include shadow-box (60%);
        opacity:0.8;
    }
}

/* Icons "Like" */

.link-menu__icon {
    @include mixins.absolute (50);
    font-size:map-get(maps.$txt-size, txt-xl);
    cursor:pointer;
    &--empty {
        opacity:1;
    }
    &--full {
        color:map-get(maps.$colors-palette, pink);
        opacity:1;
    }
}
