@use "../utils/maps";
@use "../utils/mixins";

/* Buttons with linear gradient animated on hover */

.btn-gradient {
    display:block;
    width:fit-content;
    color:map-get(maps.$colors-palette, white);
    padding:0.8rem 1.5rem;
    border-radius:5rem;
    @include mixins.center-margin;
    @include mixins.shadow-box;
    background:linear-gradient(to top left, map-get(maps.$colors-palette,purple), map-get(maps.$colors-palette, pink));
    font-weight:map-get(maps.$txt-weight, txt-med);
    opacity: 1;
    &:hover {
        transition-duration:0.4s;
        @include mixins.shadow-box (60%);
        opacity:0.8;
    }
}

/* Icons "Like" */

.icons-like {
    cursor:pointer;
    &:hover .icon-like--full {
        transform:scale(1);
    }
}
.icon-like {
    @include mixins.absolute (50);
    &--full {
        color:transparent;
        background-image: linear-gradient(to bottom, map-get(maps.$colors-palette,purple), map-get(maps.$colors-palette,pink));
        background-clip:text;
        -webkit-background-clip:text;
        transform:scale(0);
        transform-origin:bottom;
        transition:0.4s;
    }
}
