/* COMPONENTS */

/* Buttons with linear gradient animated on hover */

.btn-gradient {
    display:block;
    width:fit-content;
    color:map-get($colors-palette, white);
    padding:0.8rem 1.5rem;
    border-radius:5rem;
    @include center-margin;
    @include shadow-box;
    background:linear-gradient(to top left, map-get($colors-palette,purple), map-get($colors-palette, pink));
    font-weight:map-get($txt-weight, txt-med);
    opacity: 1;
    &:hover {
        transition-duration:0.4s;
        @include shadow-box (60%);
        opacity:0.8;
    }
}