@use '../utils' as utils;

/* Icons "Like" animated */

.icons-like {
    /* <div> - container for icons "Like" */
    @include utils.absolute (50);
    width:2rem;
    height:2rem;
    cursor:pointer;
    &:hover .icon-like--full {
        transform:scale(1);
    }
}

.icon-like {
    /* <span> - icon "Like" contained in <div icons-like> */
    @include utils.absolute (50);
    bottom:0.3rem;
    right:0.3rem;
    &--full {
        /* <span> - icon "Like" with background gradient contained in <div icons-like> */
        color:transparent;
        background-image: linear-gradient(to bottom, map-get(utils.$colors-palette,purple), map-get(utils.$colors-palette,pink));
        background-clip:text;
        -webkit-background-clip:text;
        transform:scale(0);
        transform-origin:bottom;
        transition:transform 400ms cubic-bezier(.32,-0.01,.22,.82);
    }
}

/* Icons "checked" animated */

.dish__icon {
    /* <div> - container for icon selection dish 
    in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> */
    background: map-get(utils.$colors-palette, mint);
    color:map-get(utils.$colors-palette, white);
    font-size:1.5rem;
    text-align:center;
}