@use '../utils' as utils;

.loading-spinner {
    width:100vw;
    height:100vh;
    text-align:center;
    background:white;
    transition:opacity 300ms;
    position : fixed;
    top:0px;
    left:0px;
    @include utils.opacity(0);
    .loading-spinner__elements {
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .elements__position {
        position:relative;
        width:450px;
        font-family:'Shrikhand', cursive;
        font-size:map-get(utils.$txt-size, txt-spin);    
        p:nth-child(1), span {
            background-image: linear-gradient(to bottom, map-get(utils.$colors-palette,purple), map-get(utils.$colors-palette,pink));
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
        }
        p:nth-child(1) {
            transform:scale(0) rotateX(0turn);
            transition:transform 1000ms ease-in-out;
        }
        span {
            display:inline-block;
            position:relative;
            z-index:221;
            width:3.8rem;
            transform:rotateY(0turn) ;
            transition:transform 1000ms 1000ms ease-in-out;
            &::after {
                content:"O";
                width:3.8rem;
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                opacity:0;
                z-index:219;
                color:map-get(utils.$colors-palette, mint);
                transition:opacity 1000ms 1000ms ease-in-out;
            }
        }
        p:nth-child(2) {
            width:1rem;
            height:1rem;
            border-radius:25px;
            background:map-get(utils.$colors-palette, mint);
            position:absolute;
            left:1rem;
            top:3rem;
            transform:translateX(0rem) translateY(0rem) scaleX(0) scaleY(1.15);
            transition:all 500ms 1600ms cubic-bezier(.7,1.18,.9,1);    
        }
    }   
    &:hover p:nth-child(1) {
        transform:scale(1) rotateX(1turn);
    }
    &:hover span {
        transform:rotateY(3turn) ;
        &::after {
            opacity:1;
        }
    }
    &:hover p:nth-child(2) {
        transform:translateX(-0.5rem) translateY(4.5rem) scaleX(1) scaleY(1);
    }
}
