@use '../utils' as utils;
@use './animation-spinner' as anim;

.loading-spinner {
    width:100vw;
    height:100vh;
    text-align:center;
    background:white;
    position : fixed;
    top:0px;
    left:0px;
    @include utils.opacity(1);
    animation:loader anim.$loader-duration;
    animation-delay:anim.$loader-delay;
    animation-fill-mode:forwards;
    animation-timing-function: cubic-bezier(.47,0,.16,1);
    .loading-spinner__elements {
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .elements__position {
        position:relative;
        margin-top:-200px;
        width:18rem;
        font-family:'Shrikhand', cursive;
        font-size:map-get(utils.$txt-size, txt-spin) - 2rem; 
        @include utils.responsive (tabs) {
            width:28rem;
            font-size:map-get(utils.$txt-size, txt-spin); 
            margin-top:-100px;
        }   
        p:nth-child(1), span {
            background-image: linear-gradient(to bottom, map-get(utils.$colors-palette,purple), map-get(utils.$colors-palette,pink));
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
        }
        p:nth-child(1) {
            transform:scale(1) rotateX(0turn);
            animation:logo-ohmyfood anim.$logo-duration;
            animation-timing-function: cubic-bezier(.23,0,.28,1);
        }
        span {
            display:inline-block;
            position:relative;
            width:2.4rem;
            transform:rotateY(0turn) ;
            animation:o-mint anim.$o-mint-duration;
            animation-delay:anim.$o-mint-delay;
            animation-timing-function: cubic-bezier(.93,0,.83,1);
            @include utils.responsive (tabs) {
                width:3.8rem;
            }       
            &::after {
                content:"O";
                width:2.4rem;
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                opacity:0;
                color:map-get(utils.$colors-palette, mint);
                animation:o-mint-after anim.$mint-after-duration;
                animation-delay:anim.$mint-after-delay;
                animation-fill-mode:forwards;
                animation-timing-function: cubic-bezier(.93,0,.83,1);
                @include utils.responsive (tabs) {
                    width:3.8rem;
                }           
            }
        }
        p:nth-child(2) {
            width:0.5rem;
            height:0.5rem;
            border-radius:50%;
            background:map-get(utils.$colors-palette, mint);
            position:absolute;
            left:1rem;
            top:2.5rem;
            transform:translateX(0rem) translateY(0rem) scaleX(0) scaleY(1.15);
            transform-origin: left;
            animation:drop-ball anim.$drop-ball-duration;
            animation-delay:anim.$drop-ball-delay;
            animation-fill-mode:forwards;
            animation-timing-function: cubic-bezier(.93,0,.83,1);
            @include utils.responsive (tabs) {
                width:1rem;
                height:1rem;
                top:3.5rem;  
            }       
        }
    }   
}
