/* BASE CSS */
@use "../utils/mixins";
@use "../utils/maps";
@use "../utils/extensions";

* {
    box-sizing:border-box;
}
html {
    font-size:16px;
    width:100%;
    height:100%;
    @include mixins.responsive (tabs) {
        font-size:15px;
    }
    @include mixins.responsive (desktop-xl) {
        font-size:17px;
    }
}
body {
    @include mixins.center-margin;
    @extend%font-roboto;
    font-weight:map-get(maps.$txt-weight, txt-light);
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
main {
    display:grid;
    flex-grow:1;
    @include mixins.responsive (tabs) {
        grid-template-columns: 50% 50%;
        align-items:flex-start;
    }
    @include mixins.responsive (desktop) {
        grid-template-columns: 30% 70%;
    }
    @include mixins.responsive (desktop-xl) {
        grid-template-columns: 15% 70% 15%;
    }
}
h1 {
    @extend%reset-margin;
}
h2 {
    @extend%reset-margin;
    font-size:map-get(maps.$txt-size , txt-xl);
    @extend%font-bold;
    padding-top:1rem;
    padding-bottom:1.3rem;
}
h3 {
    @extend%reset-margin;
    font-size:map-get(maps.$txt-size , txt-l);
    @extend%font-bold;
}
p {
    @extend%reset-margin;
}
ul, ol {
    @extend%reset-margin;
    list-style-type:none;
}
figure {
    @extend%reset-margin;
}
img {
    object-fit: cover;
    width:map-get(maps.$width-palette, max);
}
a {
    text-decoration:none;
    color:map-get(maps.$colors-palette, dark);
}
header, footer {
    @include mixins.padding-page;
}
header {
    padding-top:1.2rem;
    padding-bottom:0.4rem;
}
section {
    padding-bottom:3rem;
}
footer {
    padding-top:1rem;
    padding-bottom:2rem;
}
button {
    @extend%font-roboto;
    border:none;
    cursor:pointer;
}