/* RESET CSS */

* {
    box-sizing:border-box;
}
html {
    font-size:16px;
}
body {
    @include center-margin;
    font-family:'Roboto',sans-serif;
    font-weight:map-get($txt-weight, txt-light);
}
ul, ol {
    @extend%reset-margin;
    list-style-type:none;
}
figure {
    @extend%reset-margin;
}
img {
    object-fit: cover;
    width:map-get($width-palette, max);
}
a {
    text-decoration:none;
    color:map-get($colors-palette, dark);
}
header, footer {
    @include padding-page;
}
header {
    padding-top:1.2rem;
    padding-bottom:0.4rem;
}
section {
    padding-bottom:3rem;
}
footer {
    padding-top:1rem;
    padding-bottom:2.5rem;
}
h2 {
    @extend%reset-margin;
    font-size:map-get($txt-size , txt-xl);
    font-weight:map-get($txt-weight, txt-bold);
    padding-top:1rem;
    padding-bottom:1.3rem;
}
h3 {
    @extend%reset-margin;
    font-size:map-get($txt-size , txt-l);
    font-weight:map-get($txt-weight, txt-bold);
}
p {
    @extend%reset-margin;
}
button {
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    border:none;
    cursor:pointer;
}