/* BASE CSS */


* {
    box-sizing:border-box;
}
html {
    font-size:16px;
    @include responsive (tabs) {
        font-size:15px;
    }
}
body {
    @include center-margin;
    @extend%font-roboto;
    font-weight:map-get($txt-weight, txt-light);
}
main {
    display:grid;
}
h1 {
    @extend%reset-margin;
}
h2 {
    @extend%reset-margin;
    font-size:map-get($txt-size , txt-xl);
    @extend%font-bold;
    padding-top:1rem;
    padding-bottom:1.3rem;
}
h3 {
    @extend%reset-margin;
    font-size:map-get($txt-size , txt-l);
    @extend%font-bold;
}
p {
    @extend%reset-margin;
}
ul, ol {
    @extend%reset-margin;
    list-style-type:none;
}
figure {
    @extend%reset-margin;
}
img {
    object-fit: cover;
    width:map-get($width-palette, max);
}
a {
    text-decoration:none;
    color:map-get($colors-palette, dark);
}
header, footer {
    @include padding-page;
}
header {
    padding-top:1.2rem;
    padding-bottom:0.4rem;
}
section {
    padding-bottom:3rem;
}
footer {
    padding-top:1rem;
    padding-bottom:2rem;
}
button {
    @extend%font-roboto;
    border:none;
    cursor:pointer;
}