@use '../utils' as utils;


main {
    @include utils.responsive (desktop) {
        grid-template-rows: 260px auto auto;
    }
    @include utils.responsive (desktop-xl) {
        grid-template-rows: auto;
    }
}
/* SECTION RESERVATION */
.reservation {
    /* <section reservation> */
    text-align:center;
    @include utils.relative (10);
    @include utils.responsive (tabs) {
        /* Media queries Tabloids for <section reservation> */
        @include utils.shadow-box (91%);
        border-radius: 0rem 0rem 1rem 1rem;
        padding-bottom:0rem;
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section reservation> */
        grid-column:2;
        box-shadow:0px 5px 0px map-get(utils.$colors-palette, lightshadow );
        border-radius:0rem;
    }

    &__localise {
        /* <form> - form for localisation search in <section reservation> */
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        background:map-get(utils.$colors-palette, darkshadow);
        input {
            /* <input> - input type search in <section reservation> + <form localise> */
            background:map-get(utils.$colors-palette, darkshadow);
            font-family: 'Roboto', sans-serif;
            font-size:map-get(utils.$txt-size, txt-m);
            line-height: map-get(utils.$txt-size, txt-m) + 0.5rem;
            font-weight:map-get(utils.$txt-weight, txt-med); 
            width:150px;  
            border:1px solid transparent;
            border-radius:0.5rem;
            padding:0.3rem 0.5rem;
            @include utils.responsive (desktop-xl) {
                width:175px;
            }
            &::placeholder {
                font-size:0.9rem;
                font-style: italic;
                color:darken(map-get(utils.$colors-palette, darkshadow),60%);
            }            
            &:focus, &:active {
                outline:none;
                color:map-get(utils.$colors-palette, dark);
                background:lighten(map-get(utils.$colors-palette, darkshadow),4%);
            }
            &:not(:focus):invalid {
                background:lighten(map-get(utils.$colors-palette, purple ),30%);
                border:1px solid map-get(utils.$colors-palette, purple );
            }
        }
    }
    label {
        /* <label> - label for icon input in <section reservation> + <form localise> */
        margin-left:0.5rem;
        padding:0rem 0.5rem;
        vertical-align: top;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section reservation> + <form localise> --> <label> */
            margin-left:1.5rem;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops for <section reservation> + <form localise> --> <label> */
            margin-left:0.5rem;
        }
    }
    &__explore {
        /* <div> - container for text and component exploration in <section reservation> */
        padding:0.5rem 1rem 3rem 1rem;
        background: map-get(utils.$colors-palette, lightshadow);
        @include utils.responsive (tabs) {
             /* Media queries Tabloids for <section reservation> --> <div explore> */
            height:295px;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop for <section reservation> --> <div explore> */
            height:auto;
        }
    }
    &__explore p {
        /* <p> - presentation text in <section reservation> + <div explore> */
        padding-bottom:1.5rem;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section reservation> + <div explore> --> <p> */
            padding-bottom:3rem;
        }
        @include utils.responsive (desktop) {
            /* Media queries Tabloids for <section reservation> + <div explore> --> <p> */
            padding-bottom:1.5rem;
        }
    }
    h1 {
        /* <h1> - Title for section in <section reservation> + <div explore> */
        padding:1.5rem 3rem 0.5rem 3rem;
        font-size:map-get(utils.$txt-size , txt-xl);
        font-weight:map-get(utils.$txt-weight, txt-bold);   
    }
}

/* SECTION FUNCTIONING */
.functioning {
    /* <section functioning> */
    @include utils.padding-page;
    @include utils.flex-column;
    @include utils.responsive (tabs) {
        /* Media queries Tabloids for <section functioning> */
        justify-content: space-between;
    }
    @include utils.responsive (desktop) {
        /* Media queries Desktops for <section functioning> */
        padding-left:0rem;
        padding-right:0rem;
        padding-top:5.2rem;
        grid-row:2;
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section functioning> */
        grid-column:2;
        @include utils.padding-page;
        padding-bottom:0rem;
        padding-top:0rem;
    }
    
    ol { 
        /* <ol> - list of steps in <section functioning> */
        font-weight:map-get(utils.$txt-weight, txt-med);
        @include utils.flex-column;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section functioning> --> <ol> */
            justify-content: space-between;
            padding-bottom:0.5rem;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops for <section functioning> --> <ol> */
            padding-bottom:0rem;
        }
    }
    h2 {
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section functioning> --> <h2> */
            text-align:center;
            padding-bottom:1.9rem;
            padding-top:1.2rem;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktops for <section functioning> --> <h2> */
            padding-bottom:3rem;
            padding-top:0.9rem;
        }  
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktop for <section functioning> --> <h2> */
            padding-top:3rem;
        }     
    }
}
.instructions__step {
    /* <li> - step in <section functioning> + <ol> */
    padding:1.5rem 2rem 1.5rem 2rem;
    margin-bottom:1rem;
    margin-left:1rem;
    border-radius:1rem;
    background:map-get(utils.$colors-palette, lightshadow);
    display:flex;
    align-items:center;
    @include utils.shadow-box (90%);
    @include utils.relative (30);
    @include utils.responsive (tabs) {
        /* Media queries Tabloids for <section functioning> + <ol> --> <li steps> */
        flex-direction:column;
        align-items:center;
        margin-left:0rem;
        margin-bottom:1.5rem;
        text-align:center;
        padding:1.5rem 2rem 0.8rem 2rem;
    }
    @include utils.responsive (desktop) {
        /* Media queries Desktop for <section functioning> + <ol> --> <li steps> */
        margin-bottom:2rem;
        padding:2rem 2rem 1.2rem 2rem;
    } 
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section functioning> + <ol> --> <li steps> */
        margin-bottom:2.5rem;
        padding:1.5rem 2rem 1.5rem 2rem;
    }
    &:nth-child(3) {
        /* <li> - third step "déguster" in <section functioning> + <ol> */               
        background: map-get(utils.$colors-palette, lightpurple);
    }
}
.step__number {
    /* <span> - list numbers for steps in <section functioning> + <ol> + <li steps> */
    color:map-get(utils.$colors-palette, white);
    background:map-get(utils.$colors-palette, purple);
    border-radius:1rem;
    font-weight:map-get(utils.$txt-weight, txt-light);
    display:inline-block;
    width:1.4rem;
    height:1.4rem;
    line-height: 1.4rem;
    font-size:map-get(utils.$txt-size,txt-xs);
    text-align: center;
    @include utils.absolute (40);
    left:-11px;
    @include utils.responsive (tabs) {
        /* Media queries Tabloids for <section functioning> + <ol> --> <li steps> */
        left:inherit;
        top:-10px;
        width:4rem;
    } 
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section functioning> + <ol> --> <li steps> */
        top:-0.7rem;
    }       

}
.step__icon {
    /* <span> - icons for steps in <section functioning> + <ol> + <li steps> */
    width:40px;
    font-size:map-get(utils.$txt-size, txt-l); 
    &--grey {
        color:lighten(map-get(utils.$colors-palette, dark), 50%);
    }
    &--purple {
        color:map-get(utils.$colors-palette, purple);
    }
}    
    

/* SECTION RESTAURANTS */

.restaurants {
    /* <section restaurants> */
    @include utils.padding-page;
    background: map-get(utils.$colors-palette, lightshadow);
    padding-top:2rem;
    @include utils.responsive (tabs) {
        /* Media queries Tabloids for <section restaurants> */
        grid-column: 1 / span 2;
        background: map-get(utils.$colors-palette, white );
        padding-top:0rem;
    }
    @include utils.responsive (desktop) {
        /* Media queries Desktop for <section restaurants> */
        grid-row:1 / span 3;
        grid-column:2;
        @include utils.flex-column;
        justify-content: space-around;
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section restaurants> */
        grid-column:2;
        grid-row:3 / span 3;
    }
    h2 {
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section restaurants> --> <h2> */
            text-align:center;
            padding-bottom:2rem;
        }    
        @include utils.responsive (desktop) {
            /* Media queries Desktop for <section restaurants> --> <h2> */
            padding-top:0.8rem;
            padding-bottom:2rem;
        }        
    }
    &-flexbox {
        /* <div> - flexbox for cards in <section restaurants> */
        @include utils.flex-column;
        flex-wrap:wrap;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section restaurants> --> <div flexbox> */
            flex-direction:row;
            justify-content: space-between;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops for <section restaurants> --> <div flexbox> */
            flex-direction:column;
        }

    }
    &__link-menu {
        /* <a> - card in <sections restaurants> + <div flexbox> */
        display:block;
        border-radius:1rem;
        overflow:hidden;
        margin-bottom:1.1rem;
        @include utils.shadow-box (90);
        @include utils.relative (40);
        transition:box-shadow 400ms ease-in-out;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section restaurants> + <div flexbox> --> <a links cards> */
            width:48%;
            margin-bottom:1.5rem;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop for <section restaurants> + <div flexbox> --> <a links cards> */
            margin-bottom:3rem;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops for <section restaurants> + <div flexbox> --> <a links cards> */
            width:100%;
        }
        figcaption {
            color:map-get(utils.$colors-palette, dark);
            transition:color 300ms ease-in-out;
        }
        &:hover {
            @include utils.shadow-box (80);
        }
        &:hover figcaption {
            color:map-get(utils.$colors-palette, purple );
        }
    }
}
.card__img img {
    /* <img> - image in <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> */ 
    height:180px;
    @include utils.responsive (tabs) {
        /* Media queries Tabloids for <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> --> <img> */
        height:220px;
    }    
    @include utils.responsive (desktop) {
        /* Media queries Desktop for <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> --> <img> */
        height:246px;
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section restaurants> + <div flexbox> + <a links cards> + <figure> + <picture> --> <img> */
        height:350px;
    }                
}
.card__caption {
    /* <figcaption> - caption in <section restaurants> + <div flexbox> + <a links cards> + <figure> */
    padding:0.6rem 0.8rem 0.8rem 0.8rem;
    line-height:1.5rem;
    background: map-get(utils.$colors-palette, white);
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section restaurants> + <div flexbox> + <a links cards> + <figure> --> <figcaption> */
        text-align:center;
        padding:0.6rem 0rem 2rem 0rem;
    }    
}
.link-menu__sticker-new {
    /* <span> - sticker "New" in <section restaurants> + <div flexbox> + <a links cards> */
    @include utils.absolute(40);
    top:1rem;
    right:1rem;
    background:map-get(utils.$colors-palette, mint);
    font-size:map-get(utils.$txt-size, txt-xs);
    font-weight:map-get(utils.$txt-weight, txt-med);
    color:darken(map-get(utils.$colors-palette, mint),40%);
    width:5rem;
    height: 1.8rem;
    line-height:1.8rem;
    text-align:center;
    border-radius:0.1rem;
}
.icons-like {
    /* <div> - container for icons "Like" in <section restaurants> + <div flexbox> + <a links cards> */
    bottom:1.7rem;
    right:1.2rem;
    &:hover .icon-like--full {
        transform:scale(1);
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops for <section restaurants> + <div flexbox> + <a links cards> --> <div likes> */
        bottom:0.2rem;
        right:50%;
        margin-right:-1rem;
    }    
}
.icon-like {
    /* <span> - icons "Like" in <section restaurants> + <div flexbox> + <a links cards> + <div likes> */
    font-size:map-get(utils.$txt-size, txt-xl);
    @include utils.responsive (desktop-xl) {
        font-size:1.6rem;
        bottom:0.2rem;
        right:0.2rem;
        }    
}