@use '../utils' as utils;


/* HEADER specifications for pages menus*/
header {
    box-shadow:initial;
    @include utils.responsive (desktop) {
        /* Media queries Desktop 
        for <header> */
        box-shadow: 0px 2px 3px lighten(map-get(utils.$colors-palette, purple),25%);
    }       
}

/* MAIN */
main {
    background:map-get(utils.$colors-palette, darkshadow);
    @include utils.responsive (tabs) {
        /* Media queries Tabloids 
        for <main> */
        background: map-get(utils.$colors-palette, white);
    }       
    @include utils.responsive (desktop) {
        /* Media queries Desktop 
        for <main> */
        grid-template-rows: 75px auto;
    } 
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops 
        for <main> */
        grid-template-rows:repeat(2, auto);
    }             
    picture {
        /* <picture> - picture illustration of page 
        in <main> */
        @include utils.responsive (tabs) {
            /* Media queries Tabloids 
            for <main> --> <picture> */
            grid-column:1 / span 2;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop 
            for <main> --> <picture> */
            grid-column:1;
            grid-row:2;
            @include utils.relative (30);
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops 
            for <main> --> <picture> */
            grid-column:2;
            grid-row:1;
            @include utils.relative (10);
        }
    }
    img {
        /* <img> - image 
        in <main> + <picture> */
        height:270px;
        object-position: bottom;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids 
            for <main> + <picture> --> <img> */
            height:350px;
            object-position: center;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop 
            for <main> + <picture> --> <img> */
            height:800px;
            object-position: center;
            border-radius:0rem 0rem 1.5rem 0rem;
            @include utils.shadow-box (70%);
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops 
            for <main> + <picture> --> <img> */
            height:560px;
            border-radius:initial;
            box-shadow:initial;
        }
    }
}

/* SECTION MENU RESTAURANTS */

.menu-restaurant {
    /* <section> - section menu for restaurants */
    background:map-get(utils.$colors-palette, darkshadow);
    @include utils.padding-page;
    padding-top:2rem;
    padding-bottom:5rem;
    border-radius:2rem 2rem 0rem 0rem;
    margin-top:-3rem;
    @include utils.responsive (tabs) {
        /* Media queries Tabloids 
        for <section menu restaurants> */
        grid-column:1 / span 2;
        margin-top:-5rem;
        background:map-get(utils.$colors-palette, white);
    }
    @include utils.responsive (desktop) {
        /* Media queries Desktop 
        for <section menu restaurants> */
        grid-row:1 / span 2;
        display:grid;
        grid-template-columns:30% 70%;
        margin-top:0rem;
        padding-top:0rem;
        padding-left:0rem;
        padding-right:0rem;
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops 
        for <section menu restaurants> */
        grid-row:2;
        grid-column:2;
        grid-template-columns:100%;
        margin-top:-5rem;
    }
    h1 {
        /* <h1> - title section 
        in <section menu restaurants> */
        @include utils.relative (10);
        font-family: 'shrikhand', sans-serif;
        font-weight:initial;
        font-size:1.5rem;
        margin-bottom:0.8rem;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids 
            for <section menu restaurants> --> <h1> */
            text-align:center;
            margin-bottom:2rem;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop 
            for <section menu restaurants> --> <h1> */
            background:linear-gradient(to top, lighten(map-get(utils.$colors-palette,pink),23%), lighten(map-get(utils.$colors-palette, purple),23%));
            padding-top:1.5rem;
            height:75px;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops 
            for <section menu restaurants> --> <h1> */
            padding-top:2rem;
            padding-bottom:2rem;
            height:auto;
            border-radius: 0rem 0rem 1.5rem 1.5rem;
            margin-bottom:6rem;
        }
        .icons-like {
            /* <div> - container for icons "Like" 
            in <section menu-restaurants> + <h1> */
            top:0rem;
            left:92%;
            @include utils.responsive (tabs) {
                /* Media queries Tabloids 
                for <section menu restaurants> --> <div icons like> */
                right:initial;
                left:0rem;
                }
            @include utils.responsive (desktop) {
                /* Media queries Desktop 
                for <section menu restaurants> --> <div icons like> */
                top:1.6rem;
                left:0.8rem;
            }
            @include utils.responsive (desktop-xl) {
                /* Media queries Large screens desktops 
                for <section menu restaurants> --> <div icons like> */
                top:2rem;
                left:1.5rem;
            }
        }
        .icon-like {
            /* <span> - icon "Like" 
            in <section menu-restaurants> + <h1> + <div icons like> */
            font-size:1.4rem;
            line-height:1.5rem;
            bottom:0.3rem;
            right:0.3rem;
            @include utils.responsive (desktop) {
                /* Media queries Desktop 
                for <section menu restaurants> + <div icons like> --> <span icon like> */
                font-size:1.4rem;
            }
        }
    }
    .menu-restaurant-flexbox {
        /* <div> - container flexbox for articles 
        in <section menu restaurants> */
        @include utils.responsive (tabs) {
            /* Media queries Tabloids 
            for <section menu restaurants> --> <div flexbox> */
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between;
            align-items:center;
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop 
            for <section menu restaurants> --> <div flexbox> */
            margin-left:1rem;
            margin-right:1rem;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops 
            for <section menu restaurants> --> <div flexbox> */
            flex-direction:column;
        }
    }
    .menu-restaurant__btn-order {
        /* <div> - container for button order 
        in <section menu restaurants> + <div flexbox> */
        @include utils.responsive (tabs) {
            /* Media queries Tabloids for <section menu restaurants> + <div flexbox> --> <div for button> */
            width:49%;
        }
    }
    .btn-gradient {
        /* <button> - button with background linear-gradient for order 
        in <section menu restaurants> + <div flexbox> + <div for button> */
        padding:0.8rem 3rem;
        margin-top:3rem;
        @include utils.responsive (tabs) {
            /* Media queries Tabloids 
            for <section menu restaurants> + <div flexbox> + <div for button> --> <button gradient> */
            margin-top:0rem;
        }
    }
}
.menu-restaurant__dish-type {
    /* <article> - container for types of dishes 
    in <section menu restaurants> + <div flexbox> */
    margin-bottom:2rem;
    @include utils.responsive (tabs) {
        /* Media queries Tabloids 
        for <section menu restaurants> + <div flexbox> --> <article type dish> */
        width:49%;
    }
    @include utils.responsive (desktop-xl) {
        /* Media queries Large screens desktops 
        for <section menu restaurants> + <div flexbox> --> <article type dish> */
        width:100%;
        padding-left:8%;
        position:relative;
        margin-bottom:5rem;
    }
    h2 {
        /* <h2> - title of article 
        in <section menu restaurants> + <div flexbox> + <article type dish> */
        width:2rem;
        font-size:map-get(utils.$txt-size, txt-l);
        font-weight:map-get(utils.$txt-weight, txt-light);
        padding-bottom:0.2rem;
        margin-bottom:1rem;
        border-bottom:4px solid map-get(utils.$colors-palette, mint);
        @include utils.responsive (desktop) {
            /* Media queries Desktop 
            for <section menu restaurants> + <div flexbox> + <article type dish> --> <h2> */
            margin-bottom:2rem;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops 
            for <section menu restaurants> + <div flexbox> + <article type dish> --> <h2> */
            transform:rotate(270deg);
            font-size:2.5rem;
            width:277px;
            padding-bottom:1rem;
            position:absolute;
            left:-5.5rem;
            bottom:75px;
            text-align:center;
            background:lighten(map-get(utils.$colors-palette, mint),20%);
            border-bottom:initial;
            border-left:4px solid map-get(utils.$colors-palette, mint);
            border-radius: 0rem 1rem 1rem 0rem;
        }    
    }
    a {
        /* <a> - link dish 
        in <section menu restaurants> + <div flexbox> + <article type dish> */
        display:block;
        background: map-get(utils.$colors-palette, white);
        border-radius: map-get(utils.$txt-size, txt-m);
        overflow:hidden;
        cursor:pointer;
        margin-bottom: map-get(utils.$txt-size, txt-m);
        @include utils.shadow-box (84);
        @include utils.responsive (tabs) {
            /* Media queries Tabloids 
            for <section menu restaurants> + <div flexbox> + <article type dish> --> <a dish> */
            @include utils.shadow-box (90);
        }
        @include utils.responsive (desktop) {
            /* Media queries Desktop 
            for <section menu restaurants> + <div flexbox> + <article type dish> --> <a dish> */
            margin-bottom:2rem;
        }
        @include utils.responsive (desktop-xl) {
            /* Media queries Large screens desktops 
            for <section menu restaurants> + <div flexbox> + <article type dish> --> <a dish> */
            margin-bottom: map-get(utils.$txt-size, txt-m);
        }
        .dish__dish-description {
            /* <div> - text description of dish 
            in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> */
            display:flex;
            justify-content: space-between;        
            padding:1.1rem 1rem 0rem 0.5rem;
            max-width:100%;
        }
        .dish-description__price {
            /* <p> - text for price of dish 
            in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> */
            font-weight:map-get(utils.$txt-weight, txt-bold);
            align-self:flex-end;
        }  
        &:hover {
            @include utils.shadow-box (75);
            @include utils.responsive (tabs) {
                /* Media queries Tabloids
                for <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> --> <div icon dish> */
                @include utils.shadow-box (85);
            }       
        }          
        .dish__icon {
            /* <div> - container for icon selection dish 
            in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> */
            float:right;
            background: map-get(utils.$colors-palette, mint);
            padding:1.5rem 0rem;
            color:map-get(utils.$colors-palette, white);
            font-size:1.5rem;
            text-align:center;
            width:0px;
            transition:width 400ms ease-in-out;
        }
        &:hover .dish__icon {
            width:70px;
            @include utils.responsive (desktop-xl) {
                /* Media queries Large screens desktops
                for <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> --> <div icon dish> */
                width:100px;
            }
        }
        .icon__checked {
            transition:transform 400ms 100ms cubic-bezier(.68,.1,.38,.81);
            transform:rotate(0turn);
        }
        &:hover .icon__checked {
            /* <span> - icon checked
            in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div icon dish> */
            transform:rotate(2turn);
        }
    }
}
.dish-description__details {
    /* <div> - details for dish
    in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div dish description> */
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:200px;
    @include utils.responsive (small-screen) {
        max-width:500px;
    }
    h3 {
        /* <h3> - title of dish description 
        in <section menu restaurants> + <div flexbox> + <article type dish> + <a dish> + <div dish description> + <div dish details> */
        font-size:map-get(utils.$txt-size, txt-l);
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p {
        display:inline;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}