
%font-roboto {
    font-family:'Roboto',sans-serif;
    font-size:1rem;
}
%reset-margin {
    margin:0;
    padding:0;
}
%font-bold {
    font-weight:map-get($txt-weight, txt-bold);
}
%txt-footer-white {
    color:map-get($colors-palette, white);
}