@use './maps';
@use '../components/animation-menus' as anim-card;

@mixin center-margin {
    margin:0 auto;
}
@mixin padding-page {
    padding-left:1rem;
    padding-right:1rem;
}
@mixin relative ($zindex) {
    position:relative;
    z-index:$zindex;
}
@mixin absolute ($zindex) {
    position:absolute;
    z-index:$zindex;
}
@mixin shadow-box ($lighting:80%) {
    box-shadow: 0px 5px 8px lighten(map-get(maps.$colors-palette, dark),$lighting);
}
@mixin responsive ($screen) {
    @media screen and (min-width:map-get(maps.$breakpoints, $screen)) {
        @content;
    }
}
@mixin flex-column {
    display:flex;
    flex-direction:column;
}
@mixin ellipsis ($whitespace:nowrap) {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: $whitespace;
}
@mixin opacity ($opacity) {
    opacity:$opacity;
    @if $opacity == 0 {
        z-index:-200
    }
    @else {
        z-index:200;
    }
}
@mixin card-anim ($anim-card-delay:0ms) {
    animation:anim-card anim-card.$anim-card-duration;
    animation-delay:$anim-card-delay;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.47,0,.54,1);
}