/* HEADER */

header {
    text-align:center;
    box-shadow: 0px 2px 3px lighten(map-get($colors-palette, dark),80%);
    @include relative (20);
    img {
        width:map-get($width-palette, x-small);
        max-width:180px;
    }
}

/* FOOTER */

footer {
    background:lighten(map-get($colors-palette, dark),25%);
    @include responsive (tabs) {
        text-align:center;
    }  
    p {
        @extend%txt-footer-white;
        font-family:'Shrikhand', cursive;
        padding-bottom:1rem;
        font-size:1.2rem;
    }
    a {
        @extend%txt-footer-white;
        &:hover {
            color:map-get($colors-palette, pink );
        }
    }
    ul {
        @include responsive (tabs) {
            display:flex;
            justify-content: space-around;
        }    
    }
    li {
        padding-bottom:0.4rem;
    }
    li:nth-child(1), li:nth-child(2) {
        font-weight:map-get($txt-weight, txt-med);
    }
    li:nth-child(2) span {
        font-size:0.7rem;
    }
    span {
        margin-right:1rem;
        @include responsive (tabs) {
            margin-right:0.4rem;
        }    
    }
}